[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
markdown = "*"
pygments = "*"
markdown-katex = "*"
md2html-links = {editable = true, git = "https://github.com/ricmua/markdown-md2html_links"}
caption = {editable = true, git = "https://github.com/flywire/caption"}
websitebuilder = {editable = true, ref = "v1.1.0", git = "https://github.com/DocSkellington/WebsiteBuilder.git"}
academiccv-builder = {editable = true, ref = "v1.0.0", git = "https://github.com/DocSkellington/academiccv-builder.git"}

[dev-packages]

[requires]
python_version = "3.11"
