:root {
    --header-height: max(50px, 6vh);
}

@media (prefers-color-scheme: light) {
    :root {
        --background-primary: #ecf2ff;
        --background-secondary: #b0c5ff;
        --color-primary: black;
        --color-secondary: #2f71ff;
        --link-default: #5900ff;
        --link-visited: #470068;
        --link-hover: #15008b;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-primary: #252525;
        --background-secondary: #383838;
        --color-primary: white;
        --color-secondary: #ce9e60;
        --link-default: #ffda8b;
        --link-visited: #ffc9aa;
        --link-hover: #ff8800;
    }
}

@font-face {
    font-family: 'NotoSerif';
    src: url("font/NotoSerif-Regular.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: var(--background-primary);
    color: var(--color-primary);
    margin: 0;
    text-align: justify;
    min-height: 100vh;
    min-width: 270px;
    font-family: "NotoSerif", "Times New Roman", Times, serif;
    font-size: calc(12px + 0.29vw);
}

header {
    background-color: var(--background-secondary);
    height: var(--header-height);
    position: sticky;
    top: 0;
    left: 0;
    padding-left: 10%;
    padding-right: 10%;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    z-index: 2;
}

header .title {
    width: 30%;
}

header nav {
    display: flex;
    overflow: hidden;
    justify-content: right;
    width: 70%;
    text-align: left;
}

header nav div:nth-child(n+2) {
    margin-left: 20px;
}

main {
    margin-left: 10%;
    margin-right: 20%;
    padding-bottom: 6em;
}

main > *:nth-child(1) {
    margin-top: 0px;
    padding-top: 15px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: var(--background-secondary);
    padding-left: 10%;
    padding-right: 10%;
    width: 80%;
    overflow: hidden;
    font-size: 90%;
}

footer .left {
    float: left;
    width: 45%;
}

footer .right {
    float: right;
    width: 50%;
    text-align: right;
    justify-content: space-between;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0;
}

img {
    max-width: 100%;
}

a {
    color: var(--link-default);
}
a:visited {
    color: var(--link-visited);
}
a.title {
    color: var(--color-primary);
    font-size: 150%;
}
a:hover {
    color: var(--link-hover);
}

:target {
    scroll-margin-top: var(--header-height);
}

.toc {
    float: right;
    right: 0;
    top: var(--header-height);
    width: 15%;
    overflow: auto;
    margin-right: 20px;
    text-align: left;
    font-size: 90%;
}
.toc a {
    text-decoration: none;
}

header a {
    text-decoration: none;
}

i.contact-icon,
img.contact-icon {
    text-align: center;
    vertical-align: top;
    padding-top: 4px;
    margin: auto;
    margin-right: 10px;
}

i.contact-icon::before {
    font-size: calc(15px + 0.39vw);
}

.admonition {
    color: var(--color-secondary);
    font-style: italic;
}

@media only screen and (max-height: 800px) {
    .toc ul li ul li {
        display: none;
    }
}

@media only screen and (max-width: 1000px) {
    .toc {
        display: none;
    }

    main {
        margin-right: 10%;
    }

    header nav div:nth-child(n+3) {
        display: none;
    }
}

@media only screen and (max-width: 500px) {
    footer .left {
        float: none;
        width: 100%;
    }

    footer .right {
        display: none;
    }
}

h1 {
    font-size: 300%;
}

h2 {
    font-size: 200%;
}

h3 {
    font-size: 170%;
}

/* For the academic part */

.align {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.align > div,
.align > p,
.details {
    flex: auto;
    width: 65%;
    max-width: 80%;
    text-align: left;
    opacity: 100%;
    margin: 0;
}

.organization,
.details {
    padding-left: 20px;
}

.align > div:nth-child(2) {
    flex: auto;
    text-align: right;
    opacity: 60%;
    width: 25%;
    margin-top: auto;
    margin-bottom: auto;
}

.align .links {
    margin-top: 0 !important;
}

.item {
    margin-bottom: 20px;
}

.item .title {
    font-size: 100%;
}

.contact-list {
    list-style: none;
    padding-left: 10px;
}

.logos img {
    max-width: 30%;
    max-height: 60px;
    aspect-ratio: 1/1;
}